---
layout: default
---

<div class="home">

<!-- <p>I'm a physical oceanographer interested in air-sea interaction</p>  --> 
  <center>
    <a href="/_posts/"><img src="/images/00104_crop.jpg" alt="">
  </center>
  
  <!-- <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p> -->

</div>

